.top-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 450px;
    background-image: url("../img/nasa-background.jpg");
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 125px;
    margin-bottom: 25px;
}

.flexbox {
    display: flex;
    background-color: rgb(185, 182, 182);
    width: 850px;
    height: 324px;
    justify-content: flex-start;
    border-top: 25px;
}

.flexitem {
    margin-left: 50px;
    display: flex;
    width:  270px;
    justify-content: space-around 20px;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    font-size: small; 

    line-height: 1.8;
}